<mat-drawer-container  class="drawer" autosize>
  <mat-drawer mode="side" opened>
    <div class="sidenav-left">

      <div class="sidenav-content">Backup Manager</div>

      <ul class="sidenav-footer">
        <li>Diskspace</li>
        <li *ngIf="diskStats$ | async as stats">{{stats.availableBytes | dsFileSize}}/{{stats.totalBytes | dsFileSize}}</li>
        <li>{{diskStatsPercentage$ | async}}</li>
        <li>----</li>
        <li>Version {{version$ | async}}</li>
      </ul>
    </div>
  </mat-drawer>


  <mat-drawer-content>
    <div class="main-container">
      <div class="toolbar">
        <div>
          <button [disabled]="createBackupButtonDisabled$ | async" (click)="createNewBackup()" mat-raised-button>Create new backup</button>
          <span *ngIf="createBackupState$ | async as state" [class]="state">
            {{createBackupStatusMessage$ | async}}
          </span>
        </div>

        <div class="form-group">
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
          <button [disabled]="!fileToUpload || (uploadBackupButtonDisabled$ | async)" (click)="uploadBackup()" mat-raised-button>
            <span *ngIf="uploadBackupProgress$ | async as progress; else uploadAvailable">{{progress}}</span>
            <ng-template #uploadAvailable>Upload</ng-template>
          </button>

        </div>
      </div>

      <div *ngIf="backups$ | async as backups; else noBackups">
        <div *ngIf="backups.length >0; else noBackups">

          <table mat-table [dataSource]="dataSource"  style="width: 100%" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
              <td mat-cell *matCellDef="let element"> {{element.sizeBytes | dsFileSize}} </td>
            </ng-container>

            <!-- Last modified Column -->
            <ng-container matColumnDef="lastModified">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
              <td mat-cell *matCellDef="let element"> {{(element.lastModified * 1000) | date:"H:mm:ss dd-MM-yyyy"}} </td>
            </ng-container>

            <!-- Restore State Column -->
            <ng-container matColumnDef="log">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="lastRestored === element.name">
                  <span [class]="restoreBackupState$ | async">{{restoreBackupStatusMessage$ | async}}</span>
                </span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">

                <button (click)="downloadBackup(element.name)" mat-icon-button color="primary" aria-label="Download">
                  <mat-icon>get_app</mat-icon>
                </button>


                <button [disabled]="restoreBackupButtonDisabled$ | async"
                    (click)="restoreBackup(element.name)" mat-icon-button color="primary" aria-label="Restore">
                  <mat-icon>publish</mat-icon>
                </button>

                <button (click)="deleteBackup(element.name)" mat-icon-button color="primary" aria-label="Delete">
                  <mat-icon>delete</mat-icon>
                </button>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name', 'size', 'lastModified', 'log', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'size', 'lastModified', 'log', 'actions'];"></tr>\

          </table>
          <mat-paginator [length]="dataSource?.data?.length"  [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>

        </div>
      </div>
      <ng-template #noBackups>
        <div style="padding-top: 100px">
          No backups there
        </div>
      </ng-template>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


